@model IEnumerable<Shop.Models.Product>

@{
    ViewData["Title"] = "Danh sách sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <!-- /.card -->

        <div class="card">
            <div class="card-header">
                <div class="row">
                    <h2 class="card-title"><b>Danh sách sản phẩm sắp hết hàng </b></h2>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped" style="text-align: center;">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Image)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Stock)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="width: 160px;">
                                    <img style="width: 150px;" src="~/admin/assets/images/products/@item.Image" alt="image" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Stock)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PriceDisplay)
                                </td>
                                <td style="width: 12%;">
                                    <a asp-controller="Warehouses" asp-action="CreateInStock" asp-route-id="@item.Id" role="button" class="btn btn-success btn-rounded waves-effect waves-light"><i class="fas fa-pen pr-2"></i>Nhập kho</a>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
@section Script {
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": true, "autoWidth": false//,
                //"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
}