@model IEnumerable<Shop.Models.Product>

@{
    ViewData["Title"] = "Sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumb-area bg-gray">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <img src="https://cdn-vn.pushdy.com/_uploads/phongvu_live_teko/7f05e81b78cd4aeeb8803bf9031935e9.png" style="border-radius:15px;">
        </div>
    </div>
</div>
<div class="shop-area pt-120 pb-120">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-9">
                @*<div class="shop-topbar-wrapper">
                    <div class="shop-topbar-left">
                        <div class="view-mode nav">
                            <a class="active" href="#shop-1" data-toggle="tab"><i class="icon-grid"></i></a>
                            <a href="#shop-2" data-toggle="tab"><i class="icon-menu"></i></a>
                        </div>
                        <p>Showing 1 - 20 of 30 results </p>
                    </div>
                    <div class="product-sorting-wrapper">
                        <div class="product-shorting shorting-style">
                            <label>View :</label>
                            <select>
                                <option value=""> 20</option>
                                <option value=""> 23</option>
                                <option value=""> 30</option>
                            </select>
                        </div>
                        <div class="product-show shorting-style">
                            <label>Sort by :</label>
                            <select>
                                <option value="">Default</option>
                                <option value=""> Name</option>
                                <option value=""> price</option>
                            </select>
                        </div>
                    </div>
                </div>*@
                <div class="shop-bottom-area">
                    <div class="tab-content jump">
                        <div id="shop-1" class="tab-pane active">
                            <div class="row">
                                @if (Model.Count() > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                            <div class="single-product-wrap mb-35">
                                                <div class="product-img product-img-zoom mb-15">
                                                    <a asp-controller="Products" asp-action="Product_Detail" asp-route-id="@item.Id">
                                                        <img src="~/admin/assets/images/products/@item.Image" alt="">
                                                    </a>
                                                    <div class="product-action-2 tooltip-style-2">
                                                        @*<button title="Wishlist"><i class="icon-heart"></i></button>
                                                        <button title="Quick View" data-toggle="modal" data-target="#exampleModal"><i class="icon-size-fullscreen icons"></i></button>
                                                        <button title="Compare"><i class="icon-refresh"></i></button>*@
                                                    </div>
                                                </div>
                                                <div class="product-content-wrap-2 text-center">
                                                    <div class="product-content-categories">
                                                        <a class="blue">@item.Brand.Name</a>
                                                    </div>
                                                    @*<div class="product-rating-wrap">
                                                        <div class="product-rating">
                                                            <i class="icon_star"></i>
                                                            <i class="icon_star"></i>
                                                            <i class="icon_star"></i>
                                                            <i class="icon_star"></i>
                                                            <i class="icon_star gray"></i>
                                                        </div>
                                                        <span>(2)</span>
                                                    </div>*@
                                                    <h3><a class="blue" asp-controller="Products" asp-action="Product_Detail" asp-route-id="@item.Id">@item.Name</a></h3>
                                                    <div class="product-price-2">
                                                        <span class="new-price">@item.PriceDisplay ₫ </span>
                                                    </div>
                                                </div>
                                                <div class="product-content-wrap-2 product-content-position text-center">
                                                    @*<div class="product-rating-wrap">
                                                        <div class="product-rating">
                                                            <i class="icon_star"></i>
                                                            <i class="icon_star"></i>
                                                            <i class="icon_star"></i>
                                                            <i class="icon_star"></i>
                                                            <i class="icon_star gray"></i>
                                                        </div>
                                                        <span>(2)</span>
                                                    </div>*@
                                                    <div class="product-content-categories">
                                                        <a class="blue" asp-controller="Products" asp-action="Index" asp-route-id="@item.BrandId">@item.Brand.Name</a>
                                                    </div>
                                                    <h3><a asp-controller="Products" asp-action="Product_Detail" asp-route-id="@item.Id">@item.Name</a></h3>
                                                    <div class="product-price-2">
                                                        <span>@item.PriceDisplay ₫ </span>
                                                    </div>
                                                    <div class="pro-add-to-cart">
                                                        <form method="post" asp-controller="Carts" asp-action="Create">
                                                            <input type="text" hidden name="productId" value="@item.Id" />
                                                            <input type="number" hidden name="quantity" value="1" />

                                                            <button type="submit" title="Thêm vào giỏ hàng">Thêm vào giỏ hàng</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                }
                            </div>
                        </div>
                    </div>
                    @*@if(Model.Count() > 0)
            {

                    <div class="pro-pagination-style text-center mt-10">
                        <ul>
                            <li><a class="prev" href="#"><i class="icon-arrow-left"></i></a></li>
                            <li><a class="active" href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a class="next" href="#"><i class="icon-arrow-right"></i></a></li>
                        </ul>
                    </div>
            }*@
                </div>
            </div>
            <div class="col-lg-3">
                <div class="sidebar-wrapper sidebar-wrapper-mrg-right">
                    @*<div class="sidebar-widget mb-40">
                        <h4 class="sidebar-widget-title">Tìm kiếm </h4>
                        <div class="sidebar-search">
                            <form class="sidebar-search-form" action="#">
                                <input type="text" placeholder="Search here...">
                                <button>
                                    <i class="icon-magnifier"></i>
                                </button>
                            </form>
                        </div>
                    </div>*@
                    @*<div class="sidebar-widget shop-sidebar-border mb-35 pt-40">
            <h4 class="sidebar-widget-title">Thương hiệu </h4>
            <div class="shop-catigory">
                <ul>
                    @if(ViewBag.lstBrands != null)
                    {
                        foreach (var item in ViewBag.lstBrands)
                        {
                            <li><a asp-controller="Products" asp-action="Product_Filter" asp-route-id="item.Id">@item.Name</a></li>
                        }
                    }
                </ul>
            </div>
        </div>*@
                    <div class="sidebar-widget shop-sidebar-border mb-40 pt-40">
                        <h4 class="sidebar-widget-title">Thương hiệu </h4>
                        <div class="sidebar-widget-list">
                            <ul>
                                @if (ViewBag.lstBrands != null)
                                {
                                    foreach (var item in ViewBag.lstBrands)
                                    {
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                @*<input type="checkbox">*@
                                                <a style="margin-left: 0px;" asp-controller="Products" asp-action="Index" asp-route-id="@item.Id">@item.Name <span>@item.ProductCount</span> </a>
                                                @*<span class="checkmark"></span>*@
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    @*<div class="sidebar-widget shop-sidebar-border mb-40 pt-40">
                        <h4 class="sidebar-widget-title">Loại sản phẩm </h4>
                        <div class="sidebar-widget-list">
                            <ul>
                                @if (ViewBag.lstProductTypes != null)
                                {
                                    foreach (var item in ViewBag.lstProductTypes)
                                    {
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox"> <a asp-controller="Products" asp-action="Index" asp-route-id="item.Id">@item.Name <span>@item.ProductCount</span> </a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>*@
                    @*<div class="sidebar-widget shop-sidebar-border mb-40 pt-40">
                        <h4 class="sidebar-widget-title">Màu sắc </h4>
                        <div class="sidebar-widget-list">
                            <ul>
                                @if (ViewBag.lstColors != null)
                                {
                                    foreach (var item in ViewBag.lstColors)
                                    {
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox"> <a asp-controller="Products" asp-action="Index" asp-route-id="item.Id">@item.ColorName <span>4</span> </a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>*@
                    @*<div class="sidebar-widget shop-sidebar-border mb-40 pt-40">
                        <h4 class="sidebar-widget-title">CPU </h4>
                        <div class="sidebar-widget-list">
                            <ul>
                                @if (ViewBag.lstCPUs != null)
                                {
                                    foreach (var item in ViewBag.lstCPUs)
                                    {
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox"> <a asp-controller="Products" asp-action="Index" asp-route-id="@item.Id">@item.Name <span>@item.ProductCount</span> </a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-widget shop-sidebar-border mb-40 pt-40">
                        <h4 class="sidebar-widget-title">Ram </h4>
                        <div class="sidebar-widget-list">
                            <ul>
                                @if (ViewBag.lstRams != null)
                                {
                                    foreach (var item in ViewBag.lstRams)
                                    {
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox"> <a asp-controller="Products" asp-action="Index" asp-route-id="item.Id">@item.Amount <span>@item.ProductCount</span> </a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>*@
                    @*<div class="sidebar-widget shop-sidebar-border mb-40 pt-40">
                        <h4 class="sidebar-widget-title">Price Filter </h4>
                        <div class="price-filter">
                            <span>Range:  $100.00 - 1.300.00 </span>
                            <div id="slider-range"></div>
                            <div class="price-slider-amount">
                                <div class="label-input">
                                    <input type="text" id="amount" name="price" placeholder="Add Your Price" />
                                </div>
                                <button type="button">Filter</button>
                            </div>
                        </div>
                    </div>*@
                    @*<div class="sidebar-widget shop-sidebar-border mb-40 pt-40">
                        <h4 class="sidebar-widget-title">Size </h4>
                        <div class="sidebar-widget-list">
                            <ul>
                                <li>
                                    <div class="sidebar-widget-list-left">
                                        <input type="checkbox" value=""> <a href="#">XL <span>4</span> </a>
                                        <span class="checkmark"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="sidebar-widget-list-left">
                                        <input type="checkbox" value=""> <a href="#">L <span>5</span> </a>
                                        <span class="checkmark"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="sidebar-widget-list-left">
                                        <input type="checkbox" value=""> <a href="#">SM <span>6</span> </a>
                                        <span class="checkmark"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="sidebar-widget-list-left">
                                        <input type="checkbox" value=""> <a href="#">XXL <span>7</span> </a>
                                        <span class="checkmark"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-widget shop-sidebar-border mb-40 pt-40">
                        <h4 class="sidebar-widget-title">Color </h4>
                        <div class="sidebar-widget-list">
                            <ul>
                                <li>
                                    <div class="sidebar-widget-list-left">
                                        <input type="checkbox" value=""> <a href="#">Green <span>7</span> </a>
                                        <span class="checkmark"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="sidebar-widget-list-left">
                                        <input type="checkbox" value=""> <a href="#">Cream <span>8</span> </a>
                                        <span class="checkmark"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="sidebar-widget-list-left">
                                        <input type="checkbox" value=""> <a href="#">Blue <span>9</span> </a>
                                        <span class="checkmark"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="sidebar-widget-list-left">
                                        <input type="checkbox" value=""> <a href="#">Black <span>3</span> </a>
                                        <span class="checkmark"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-widget shop-sidebar-border pt-40">
                        <h4 class="sidebar-widget-title">Popular Tags</h4>
                        <div class="tag-wrap sidebar-widget-tag">
                            <a href="#">Clothing</a>
                            <a href="#">Accessories</a>
                            <a href="#">For Men</a>
                            <a href="#">Women</a>
                            <a href="#">Fashion</a>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="subscribe-area bg-gray pt-115 pb-115">
    <div class="container">
        <div class="row">-->
            @*<div class="col-lg-5 col-md-5">
                <div class="section-title">
                    <h2>keep connected</h2>
                    <p>Get updates by subscribe our weekly newsletter</p>
                </div>
            </div>*@
            <!--<div class="col-lg-7 col-md-7">
                <div id="mc_embed_signup" class="subscribe-form">
                    <form id="mc-embedded-subscribe-form" class="validate subscribe-form-style" novalidate="" target="_blank" name="mc-embedded-subscribe-form" method="post" action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef">
                        <div id="mc_embed_signup_scroll" class="mc-form">
                            <input class="email" type="email" required="" placeholder="Enter your email address" name="EMAIL" value="">
                            <div class="mc-news" aria-hidden="true">
                                <input type="text" value="" tabindex="-1" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef">
                            </div>
                            <div class="clear">
                                <input id="mc-embedded-subscribe" class="button" type="submit" name="subscribe" value="Subscribe">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>-->
